h1 {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 1.25rem;
  font-weight: normal;
}
body {
  font-family: monospace;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #acc;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.item {
  margin: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
}

.flex-item-1 {
  flex: 1;
}
